.inputContainer {
  position: relative;

  .input {
    $paddingX: 0.5rem;
    /*
      If --iconSize is undefined, $iconSize becomes -$paddingX,
      which effectively negates the double padding on padding-left/right.
    */
    $iconLSize: max(calc(var(--iconLSize, -999) * 1px), calc($paddingX * -1));
    $iconRSize: max(calc(var(--iconRSize, -999) * 1px), calc($paddingX * -1));

    width: 100%;
    padding: 0.25rem $paddingX;
    padding-left: calc(($paddingX * 2) + $iconLSize);
    padding-right: calc(($paddingX * 2) + $iconRSize);

    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .icon {
    position: absolute;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    user-select: none;
  }

  .iconL {
    left: 1px;
  }

  .iconR {
    right: 1px;
  }
}
