.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;

  &:hover:not([disabled]) {
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.05);
  }

  &[disabled] {
    filter: brightness(90%);
    cursor: auto;
  }
}
